.formData {
    display: flex;
    width: 300px;
    flex-direction: column;
}

input {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

label{
    font-size: 15px;
    color: gray;
}